@import "../../../../styles/colors.scss";

#home-header {
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-secondary;
    }
}
