$color-primary: #ae00ea;
$color-secondary: #00ea76;
$color-highlight: #ea9b00;
$color-white: #fff;

$color-neutral-0: #ffffff;
$color-neutral-1: #e6e6e6;
$color-neutral-2: #cccccc;
$color-neutral-3: #b3b3b3;
$color-neutral-4: #999999;
$color-neutral-5: #808080;
$color-neutral-6: #666666;
$color-neutral-7: #4d4d4d;
$color-neutral-8: #333333;
$color-neutral-9: #1a1a1a;
$color-neutral-10: #000000;

$color-turquoise: #1abc9c;
$color-emerland: #2ecc71;
$color-peterriver: #3498db;
$color-amethyst: #9b59b6;
$color-wetasphalt: #34495e;
$color-greensea: #16a085;
$color-nephritis: #27ae60;
$color-belizehole: #2980b9;
$color-wisteria: #8e44ad;
$color-midnightblue: #2c3e50;
$color-sunflower: #f1c40f;
$color-carrot: #e67e22;
$color-alizarin: #e74c3c;
$color-orange: #f39c12;
$color-pumpkin: #d35400;
$color-pomegranate: #c0392b;
$color-wine: #740000;

:export {
    color-primary: $color-primary;
    color-secondary: $color-secondary;
    color-highlight: $color-highlight;
    color-white: $color-white;

    color-neutral-0: $color-neutral-0;
    color-neutral-1: $color-neutral-1;
    color-neutral-2: $color-neutral-2;
    color-neutral-3: $color-neutral-3;
    color-neutral-4: $color-neutral-4;
    color-neutral-5: $color-neutral-5;
    color-neutral-6: $color-neutral-6;
    color-neutral-7: $color-neutral-7;
    color-neutral-8: $color-neutral-8;
    color-neutral-9: $color-neutral-9;
    color-neutral-10: $color-neutral-10;

    color-turquoise: $color-turquoise;
    color-emerland: $color-emerland;
    color-peterriver: $color-peterriver;
    color-amethyst: $color-amethyst;
    color-wetasphalt: $color-wetasphalt;
    color-greensea: $color-greensea;
    color-nephritis: $color-nephritis;
    color-belizehole: $color-belizehole;
    color-wisteria: $color-wisteria;
    color-midnightblue: $color-midnightblue;
    color-sunflower: $color-sunflower;
    color-carrot: $color-carrot;
    color-alizarin: $color-alizarin;
    color-orange: $color-orange;
    color-pumpkin: $color-pumpkin;
    color-pomegranate: $color-pomegranate;
    color-wine: $color-wine;
}
