.cq-range-form-item {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
        font-weight: bold;
    }

    .fields {
        display: flex;
        gap: 8px;

        .MuiFormControl-root {
            width: 100%;
        }
    }
}
