#page-repository-detail {
    .info-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .info-body{
            display: flex;
            flex-direction: column;
            align-self: flex-start;
        }
        .minorInfo{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: flex-start;
        }
    }
}