@import "../../styles/colors.scss";

#page-repository-detail {
    .logo-div {
        justify-content: center !important;
        padding: 1.5rem 0 0.5rem 0 !important;

        .repo-image {
            height: 10rem;
            width: 10rem;
            border-radius: 10rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border: 0.2rem solid $color-highlight;
        }
    }
    .repo-mame {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: $color-white;
    }
    .repo-details {
        padding: 2.5rem 0 0 2.5rem;
        text-align: start;
        color: $color-white;
    }
    .app-card {
        position: relative;
        margin-left: 18px;

        .button-edit-link {
            text-decoration: none;
            position: absolute;
            right: 20px;
            z-index: 2;
        }
    }

    .info-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .info-body {
            display: flex;
            flex-direction: column;
            align-self: flex-start;

            .body-box {
                padding: 8px 24px;
                border-radius: 0.5rem;
                background-color: $color-neutral-1;
                width: 100%;
            }
        }
        .info-resume {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            border-left: 0.2rem solid $color-primary;
            padding-left: 0.5rem;
        }
        .minorInfo {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
        }
    }
}
