@import "../../styles/colors.scss";

#page-repository-edit {
    form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .app-card {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .body-editor-wrapper {
            border: 1px solid $color-neutral-2;
        }

        .form-image-preview {
            width: 300px;
            max-height: 500px;
            border: 1px solid $color-neutral-1;
        }
    }
}
